---
import Pages from "@layouts/pages.astro";
---
<Pages content={{title: "حمد بنقالي | فريق التأليف"}}>
    <section class="pt-3">
    <h2>نبذة</h2>
        <p>
            بدايةً، أدعى حمد بنقالي، مؤسس مشخبط
            <br />
            وتستطيع أن تصفني بأني شخص مهووس بأمور الحاسوب إلى حد ما...
        </p>
        <p>
            أنا أيضًا مبرمج مواقع، حاصل على الوسام الذهب في تحديات جافاسكربت في منصة سطر
            كما أهتم كثيرًا بأمر التصميم الرقمي (تصميم الواجهات خصوصًا)، والترجمة، ومفهوم المعرفة الحرة، وكذلك أهوى متابعة الكرتون، والأنمي كذلك.
        </p>
        <p>
            أملك أيضًا مدونة شخصية أخرى متخصصة بالأمور التقنية، تستطيع تفقدها عبر الرابط
            <a href="https://x7md.net/">x7md.net</a>
        </p>
    </section>
</Pages>