---
import Pages from "@layouts/pages.astro";
---
<Pages content={{title: "حول"}}>
    <div class="pt-3">
		<section>
			<h1 class="title">حول مشخبط</h1>
			<p>
				مشخبط، حيث أكتب عن الأعمال الإبداعية.
			</p>
		</section>
		<section class="content">
			<h2>عن مشخبط</h2>
			<p>
				مشخبط، هو موقع ومدونة تسعى لإثراء المحتوى العربي الإنترنت
				الإبداعي والنقدي، تتناول الأعمال الإبداعية المختلفة
				والتي تتضمن الكرتون، والأنمي، والموسيقى، وغيرها...
			</p>
		</section>
	</div>
</Pages>
<style>
	h1.title {
    color: var(--c-primary);
	}
	.pt-3 {
		padding-top: 0.75rem;
	}
	section {
		text-align: center;
    	padding: calc(var(--unit) * 2);
		padding-top: calc(var(--unit) * 4);
		padding-bottom: calc(var(--unit) * 4);
	}
	section.content {
		text-align: right;
	}
</style>