---
const {id} = Astro.props;
---
<>
<div id="player">
</div>

<script defer is:inline data-id={id}>
         //Load player api asynchronously.
    var tag = document.createElement('script');
     tag.src = "://www.youtube.com/player_api";
     var firstScriptTag = document.getElementsByTagName('script')[0];
     firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
     window.player_ = null;
     function onYouTubePlayerAPIReady() {
         player_ = new YT.Player('player', {
           height: '390',
           width: '640',
           videoId: document.currentScript.dataset.id,
           events: {
             'onReady': onPlayerReady
           }
             
         });
         
     }
     function onPlayerReady(evt) {
        player_.seekTo(100)
     }
</script>
</>