---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import Comment from "@components/Comment";
const {content} = Astro.props;
const {origin, href: pageLink} = Astro.url;
import { Seo } from "astro-seo-meta"
const urlFix = (urlString)=> {
	if (urlString.indexOf('http://') === 0 || urlString.indexOf('https://') === 0){
		return urlString;
	}
	return new URL(urlString, origin).href
}
---
<html lang="ar" dir="rtl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/style.css">
		<Seo 
		title={"مشخبط" + (content.title ? " - " + content.title : "")}
		description={content.desc ? content.desc: "مخشبط... نكتب عن الأعمال الإبداعية والترفيهية"}
		colorScheme="dark"
		twitter={{site: "@mushkhbat", image: urlFix("/assets/banner.png")}}
		facebook={{image: urlFix("/assets/banner.png")}}
		/>
		<meta property="og:site_name" content="mushkhbat">
		<meta property="og:locale" content="ar_SA">
		<meta property="og:type" content="website">
		<link rel="canonical" href={new URL(pageLink , origin)}/>
		</head>
	<body data-url={content?.url}>
		<Navbar from="right" />
		<main>
            <div class="content">
                <slot></slot>
			</div>
			<!-- <Comment client:load /> -->
        </main>
		<Footer />
		<script is:inline src="/script.js"></script>
		<script type="application/ld+json" set:html={
			  JSON.stringify([
			  {
				"@context": "https://schema.org",
				"@type": "Organization",
				"url":  origin,
				"logo": "https://mushkhbat.com/assets/logo-mushkhbat.png"
			  },	
			  {
			  "@context" : "https://schema.org",
			  "@type" : "WebSite",
			  "name" : "مدونة مشخبط",
			  "alternateName" : "مشخبط",
			  "url" : origin
			}])
		}>
		</script>
	</body>
</html>
